@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

* {
  margin: 0;
  padding: 0;

  font-family: 'Agbalumo', sans-serif;
}

body {
  background: #4a98f7;
}

.splash {
  margin: calc(-192px / 2) 0 0 calc(-192px / 2);
  position: fixed;
  top: 50%;
  left: 50%;
  width: 256px;
  height: 256px;
  z-index: 200;
}

.splash.display-none {
  margin: calc(-192px / 2) 0 0 calc(-192px / 2);
  position: fixed;
  opacity: 0;
  top: 50%;
  left: 50%;
  width: 256px;
  height: 256px;
  z-index: -10;
}

@keyframs fadeIn {
  to {
    opacity: 1;
  }
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: min-content 1fr min-content;
}

header {
  background: #ffffff;
}

main {
  padding: 50px;
}

.main {
  display: flex;
  gap: 10px;
  max-width: 1050px;
  align-items: center;
  justify-content: center;
}

section {
  background: #ffffff;

  padding: 200px;
}

footer {
  background: #000000;
  color: #ffffff;
}

header,
footer {
  padding: 50px;
  text-align: center;
}
